<h1>user</h1>

<table>
  <tr>
    <th>Name</th>
    <th>sid</th>
    <th>id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= @user.name %></td>
    <td><%= @user.sid %></td>
    <td><%= @user.id %></td>
    <td><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
</table>

<br />
